# Database
DATABASE_URL=postgresql://playwave:Z7xK9mP2qR8nV4wY@localhost:5432/playwave

# JWT
SECRET_KEY=J8mN3pQ5rT7vW2xZ9kL4sD6fG1hB8cE
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Redis
REDIS_URL=redis://localhost:6379/0
REDIS_PASSWORD=R4hM7pQ2tW8xY5zK9vL3nD6fG1bB8cE

# RabbitMQ
RABBITMQ_URL=amqp://playwave:T5nK8pQ3vR7xY2wZ9mL4sD6fG1hB8cE@localhost:5672/playwave
RABBITMQ_USER=playwave
RABBITMQ_PASSWORD=T5nK8pQ3vR7xY2wZ9mL4sD6fG1hB8cE

# Celery
CELERY_BROKER_URL=amqp://playwave:T5nK8pQ3vR7xY2wZ9mL4sD6fG1hB8cE@localhost:5672/playwave
CELERY_RESULT_BACKEND=redis://localhost:6379/0
